<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tablestyle.css') }}">
    <meta charset="UTF-8">
    <title>Create Response</title>
</head>
<body>
<form method="POST">
    <div class="container">
    <label for="Name">Enter Name</label>
    <input id="Name" name = "Name" required><br>
    <label for="event">Event Name:</label>
    <select name="event" id="event">
        {% for j in eventlist %}
        <OPTION value={{j[0]}}>{{j[0]}}</OPTION>
        {% endfor %}
    </select><br>
    {% for k in itemlist %}
    <input type="checkbox" name="items" id="{{k[0]}}" value="{{k[0]}}">
    <label for="{{k[0]}}">{{k[0]}}</label>
    <input name="quantity" id="{{k[0]}}quantity">
    <label for="{{k[0]}}quantity">Quantity</label><br>
    {% endfor %}
    <label for="description">Describe the items being sent</label>
        <textarea input type="text" input id="description" name = "description" class="textarea" required></textarea><br>
    <input type="submit" id="submit" name="submit"><br>
    </div>
    <a href="/home" id="home">Return to Home</a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color:red;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>
</body>
</html>