<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tablestyle.css') }}">
    <meta charset="UTF-8">
    <title>Remove Items</title>
</head>
<body>
<form method="POST">
    <div class="container">
    Select which items you want to remove from the items list. <br>
    {% for k in itemlist %}
    <input type="radio" name="items" id="{{k}}" value="{{k}}" {{k}}>
    <label for="{{k}}">{{k}}</label><br>
    {% endfor %}

    <input type="submit" id="submit" name="submit"><br>
    <a href="/home" id="home">Return to Home</a>
    </div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color:red;">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</form>
</body>
</html>